<div class="container">
  <div class="row">
    <div class='col-md-12'>
      <%= @muscle_part.name %>を鍛える。<br>
      <%= link_to muscle_parts_path do %>全身へ<% end %>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">種目例</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <% if @muscle_part.id == 1 %>
              <%= render 'shoulder.html.erb' %>
            <% elsif @muscle_part.id == 2 %>
              <%= render 'chest.html.erb' %>
            <% elsif @muscle_part.id == 3 %>
              <%= render 'arm.html.erb' %>
            <% elsif @muscle_part.id == 4 %>
              <%= render 'back.html.erb' %>
            <% elsif @muscle_part.id == 5 %>
              <%= render 'stomach.html.erb' %>
            <% elsif @muscle_part.id == 6 %>
              <%= render 'leg.html.erb' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
       <% @training_urls.each do |training_url| %>
       <li class="list">
       <div class="youtube_url">
         <iframe class="video" src="https://www.youtube.com/embed/<%= training_url.url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <%= link_to "削除", muscle_part_path(training_url.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
       </div>
     </li>
     <% end %>
     <%= paginate @training_urls %>
     ↓Youtubeの動画を登録する
     <%= form_with model: @training_url, url: muscle_parts_path do |f| %>
       <%= f.text_field :url, :placeholder => "https://youtu.be/vx2u5uUu3DE" %>
       <%= f.hidden_field :user_id, :value => current_user.id %>
       <%= f.hidden_field :muscle_part_id, :value => @muscle_part.id %>
       <%= f.submit '追加' %>
     <% end %>
     </div>
     <div class='col-md-5'>
     <% @training_records.each do |training_record| %>
     <%= training_record.created_at.to_s(:datetime_jp) %>
     <%= training_record.training_event %>
     <%= training_record.training_note %>
     <%= link_to "編集", edit_muscle_part_path(training_record.id) %>
     <%= link_to "削除", destroy_record_path(training_record.id), method: :delete, "data-confirm" => "本当に削除しますか？" %><br>

     <% end %>
     <%= form_with model: @training_record, url: create_record_path do |f| %>
       <%= f.text_field :training_event, :placeholder => "ベンチプレス" %>
       <%= f.text_field :training_note, :placeholder => "100kg 3回　3セット" %>
       <%= f.hidden_field :user_id, :value => current_user.id %>
       <%= f.hidden_field :muscle_part_id, :value => @muscle_part.id %>
       <%= f.submit '保存' %>
     <% end %>
    </div>
  </div>
</div>