<!DOCTYPE html>
<html>
  <head>
    <title>KinnikuLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9f877dc7a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>

  <body style="display: flex;
  flex-flow: column;
  min-height: 100vh;">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg ">
        <div class="container" style="float: left;">
          <img class="navbar-brand p-1 col-2 col-sm-1" href="/" src="/assets/logo.png" style="width:64px;" alt="">


          <div class="col-6 col-sm-6">
            <% if current_page?new_user_session_path %>
            <h1 style="color:white;">きんにくLIFE!</h1>
            <% elsif current_page?new_user_password_path %>
            <h1 style="color:white;">きんにくLIFE!</h1>
            <% elsif current_page?new_user_registration_path %>
            <h2 style="color:white;">きんにくLIFE!</h2>
            <% end %>
          <% if current_page?root_path %>
          <p style="color:white;">ようこそ<% if @user.name == nil %>
                <%= @user.email %>
                <% else %>
                <%= @user.name %>
                <% end %>さん</p>
          <% end %>
          <% if current_page?(muscle_part_path(1)) %>
                <h4 style="color:white;">肩を鍛える。</h4>
              <% elsif current_page?(muscle_part_path(2)) %>
                <h4 style="color:white;">胸を鍛える。</h4>
              <% elsif current_page?(muscle_part_path(3)) %>
                <h4 style="color:white;">腕を鍛える。</h4>
              <% elsif current_page?(muscle_part_path(4)) %>
                <h4 style="color:white;">背中を鍛える。</h4>
              <% elsif current_page?(muscle_part_path(5)) %>
                <h4 style="color:white;">腹を鍛える。</h4>
              <% elsif current_page?(muscle_part_path(6)) %>
                <h4 style="color:white;">脚を鍛える。</h4>
            <% end %>
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                        style="color:#e5f2ff; border-color:#0099cc; border: 4mm ridge gray; solid; background-color:black;">
            <span class="navbar-toggler-icon fas fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav md-auto">
            <% if user_signed_in? %>
            <li class="nav-item form-inline">
              <%= link_to root_path do %><i class="fas fa-user m-2 fa-2x" style="size:40px; color:#99ea47;"></i><% end %>
              <h4>
              <%= link_to 'ホーム', root_path, class:'m-2', style:"color:#99ea47;" %>
              </h4>
            </li>
            <li class="nav-item form-inline">
              <i class="fas fa-fire-alt m-2 fa-2x" style="color:#ff952b;"></i>
              <h4>
              <%= link_to '肩', muscle_part_path(1), class:'m-2', style:"color:#fff2e5;" %>
              <%= link_to '胸', muscle_part_path(2), class:'m-2', style:"color:#fff2e5;" %>
              <%= link_to '腕', muscle_part_path(3), class:'m-2', style:"color:#fff2e5;" %>
              <%= link_to '背', muscle_part_path(4), class:'m-2', style:"color:#fff2e5;" %>
              <%= link_to '腹', muscle_part_path(5), class:'m-2', style:"color:#fff2e5;" %>
              <%= link_to '脚', muscle_part_path(6), class:'m-2', style:"color:#fff2e5;" %>
              </h4>
            </li>
            <li class="nav-item form-inline">
              <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt fa-2x ml-2" style="color:white;"></i><% end %>
              <h4>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'m-2', style:"color:white;" %>
              </h4>
            </li>
            <% else %>
              <% if current_page?new_user_registration_path %>
              <% else %>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %><i class="fas fa-user-plus fa-2x ml-2" style="color:white;"></i><% end %>
                  <h4>
                    <%= link_to '新規登録', new_user_registration_path, class:'m-2', style:"color:white;" %>
                  </h4>
                </li>
              <% end %>
              <% if current_page?new_user_session_path %>
              <% else %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt fa-2x ml-2" style="color:white;"></i><% end %>
                <h4>
                  <%= link_to 'ログイン', new_user_session_path, class:'m-2', style:"color:white;" %>
                </h4>
              </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if current_page?new_user_registration_path %>
    <% else %>
    <br>
    <% end %>
    <main style="flex: 1;" <% if current_page?new_user_registration_path %>class="background_image img-fluid" style="height:100%;"<% end %>>
      <div class="container-fluid">
        <div class="row">
          <%= yield %>
        </div>
      </div>
  </main>
<% if current_page?new_user_registration_path %>
    <% else %>
    <br>
    <% end %>
  <footer class="shadow-sm" style="bottom:0;">
    <nav class="navbar navbar-expand-lg">
      <img class="navbar-brand" href="/" src="/assets/logo_ura.png" style="width:32px;" alt="">
    </nav>
  </footer>
</body>
</html>
